@import "tailwindcss";

@plugin "tailwindcss-animate";

:root {
  /* Background colors */
  --background-primary: oklch(0.2988 0.2237 306.52); /* purple-900 */
  --background-secondary: oklch(0.2579 0.1971 306.08); /* purple-600 */
  --background-tertiary: oklch(0.4417 0.2425 306.03); /* purple-500 */
  --background-accent: oklch(1 0 0); /* white */
  --background-button: oklch(0.791 0.202 79.69); /* yellow-500 */
  --background-button-hover: oklch(0.68 0.19 79); /* yellow 800 */

  /* text colors*/
  --primary-text: oklch(1 0 0); /* white */
  --secondary-text: oklch(0.245 0.0122 264.31); /* gray-900 */
  --tertiary-text: oklch(0.705 0.003 251.52); /* gray-300 */
  --highlight-text: oklch(0.791 0.202 79.69); /* yellow-500 */
  --button-text: oklch(0.2988 0.2237 306.52); /* purple-900 */
  --button-text-hover: oklch(0.4417 0.2425 306.03); /* purple-500 */

  /* border colors */
  --ring: oklch(1 0 0); /* white */
  --ring-secondary: oklch(0.4417 0.2425 306.03); /* purple-500 */
}

@theme inline {
  --color-background-primary: var(--background-primary);
  --color-background-secondary: var(--background-secondary);
  --color-background-tertiary: var(--background-tertiary);
  --color-background-accent: var(--background-accent);
  --color-background-button: var(--background-button);
  --color-background-button-hover: var(--background-button-hover);

  --color-primary-text: var(--primary-text);
  --color-secondary-text: var(--secondary-text);
  --color-tertiary-text: var(--tertiary-text);
  --color-highlight-text: var(--highlight-text);
  --color-button-text: var(--button-text);
  --color-button-text-hover: var(--button-text-hover);

  --color-ring: var(--ring);
  --color-ring-secondary: var(--ring-secondary);
}

@layer base {
  body {
    color: var(--primary-text);
  }
}
